[submodule "dot.vim/vundle"]
	path = dot.vim/vundle
	url = git://github.com/gmarik/vundle.git
[submodule "dot.zsh/z"]
	path = dot.zsh/z
	url = https://github.com/rupa/z.git
[submodule "dot.oh-my-zsh"]
	path = dot.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
